<br>
<table id="grouped_samples">
  <thead>
    <tr>
      <th>Endpoint</th>
      <th>Method</th>
      <th>Count</th>
  </thead>
  <tbody>
    <% @samples.each do |sample, count| %>
      <tr>
        <td><%= link_to(sample.first, samples_path(endpoint: sample.first, method: sample.second)) %></td>
        <td><%= sample.second %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
