<h2>Samples for endpoint <%= @endpoint %></h2>
<br>
<%= form_for :samples, method: :delete do |f| %>
<table id="samples" class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Url</th>
      <th>Method</th>
      <th>Params</th>
      <th>Tags</th>
      <th>Delete</th>
      <th>Check for mass delete</th>
  </thead>
  <tbody>
    <%= render @samples %>
  </tbody>
</table>
<%= f.submit 'Delete samples' %>
<% end %>
